.theme-dark {
    background-color: #414141;
}
.theme-dark header {
    background-color: #1c1c1c;
}
.theme-dark .card {
    background-color: #222222;
    color: #f0f0f5;
}
.theme-dark .card.total {
    background-color: #19c5d1;
    color: white;
}
.theme-dark .card.total-expense {
    background-color: #222222;
}
.theme-dark #transaction #data-table thead th {
    background-color: #1c1c1c;
}
.theme-dark #transaction #data-table tbody td {
    background-color: #1c1c1c;
}
.theme-dark #transaction #data-table td.descritpion {
    color: #f0f0f5;
}
.theme-dark #form h2 {
    color: #f0f0f5;
}
.theme-dark #form form input {
    color: #f0f0f5;
    background-color: #1c1c1c;
}
.theme-dark #form .input-group small {
    color: #f0f0f5;
}
.theme-dark footer {
    color: #f0f0f5;
}
.theme-dark .modal-overlay .modal {
    background-color: #202024;
}